# docker run --rm -it --name caddy-builder golang:1.23.4-alpine3.21
## apk add git
## go install github.com/caddyserver/xcaddy/cmd/xcaddy@eb894be
## xcaddy build v2.9.1 --with github.com/abiosoft/caddy-exec@521d873
# docker cp caddy-builder:/go/caddy /usr/local/bin/caddy && docker stop caddy-builder
# echo "7e2ce81f457438ab096671deba5a526d18a5383a3ea6aba5b5f8af2d01b71c4a /usr/local/bin/caddy" | sha256sum --check && chmod +x /usr/local/bin/caddy
sillystring.party:443 {
	route /_astro/* {
		header Cache-Control "public, max-age=31536000, immutable" {
			match status 200
		}
		header /_astro/service-worker-*.js Service-Worker-Allowed "/" {
			match status 200
		}
		file_server {
			root /app/dist/client
			precompressed br gzip
		}
	}
	# Simple and fast self-hosted deploy-on-git-push
	# A github action builds the project, uploads it as an artifact, and calls this endpoint.
	# This endpoint downloads the artifact, and restarts Node.js with it.
	route /redeploy {
		@auth {
			method PATCH
			query artifact_id=*
			header Authorization {$DEPLOY_TOKEN}
		}
		exec @auth {
			directory /app
			command ash
			args -c "curl --silent --location --header 'Authorization: token {env.GITHUB_PAT}' --output dist.zip https://api.github.com/repos/lilnasy/tic-tac-toe/actions/artifacts/{query.artifact_id}/zip && unzip -q -o -d dist dist.zip && rm dist.zip && service tictactoe restart"
		}
	}
	reverse_proxy 127.0.0.1:4321
}
testing.sillystring.party:443 {
	handle_errors 502 {
		respond "The testing environment is offline. The website must not be being tested right now."
	}
	# I have a wireguard tunnel between the server and my laptop.
	# The dev server running on my laptop would be avaialble to
	# the server here
	reverse_proxy 192.168.4.2:4321
}
