sillystring.party:443 {
        @static path /_astro/*
        @service_worker path /_astro/service-worker-*.js
        @redeploy {
                method PATCH
                path /redeploy
                query artifact_id=*
                header Authorization {$DEPLOY_TOKEN}
        }
        @ssr {
                not path /redeploy
                not path /_astro/*
        }
        route {
                header @static Cache-Control "public, max-age=31536000, immutable"
                header @service_worker Service-Worker-Allowed "/"
                file_server @static {
                        root /app/dist/client
                        precompressed br gzip
                }
                exec @redeploy {
                        directory /app
                        command ash
                        args -c "rm -rf dist && curl -o dist.zip --location --header 'Authorization: token {env.GITHUB_PAT}' https://api.github.com/repos/lilnasy/ttt/actions/artifacts/{query.artifact_id}/zip && unzip -d dist dist.zip && rm dist.zip && service tictactoe restart"
                }
                reverse_proxy @ssr 127.0.0.1:4321
        }
}