:root {
    --base-hue: 0;
    --primary: light-dark(
        oklch(30% 0.12 var(--base-hue)),
        oklch(80% 0.12 var(--base-hue))
    );
    --on-primary: light-dark(
        white,
        oklch(20% 0.12 var(--base-hue))
    );
    --primary-container: light-dark(
        oklch(90% 0.12 calc(var(--base-hue) + 20)),
        oklch(20% 0.12 calc(var(--base-hue) - 20))
    );
    --on-primary-container: light-dark(
        oklch(10% 0.12 calc(var(--base-hue) + 20)),
        oklch(80% 0.12 calc(var(--base-hue) - 20))
    );
    --secondary: light-dark(
        oklch(40% 0.09 var(--base-hue)),
        oklch(70% 0.09 var(--base-hue))
    );
    --on-secondary: light-dark(
        white,
        oklch(20% 0.09 var(--base-hue))
    );
    --secondary-container: light-dark(
        oklch(90% 0.05 var(--base-hue)),
        oklch(40% 0.05 var(--base-hue))
    );
    --on-secondary-container: light-dark(
        oklch(20% 0.1 var(--base-hue)),
        oklch(90% 0.1 var(--base-hue))
    );
    --surface: light-dark(
        oklch(97% 0.01 calc(var(--base-hue) + 10)),
        oklch(20% 0.01 calc(var(--base-hue) + 10))
    );
    --on-surface: light-dark(
        oklch(20% 0.02 calc(var(--base-hue) + 10)),
        oklch(90% 0.02 calc(var(--base-hue) + 10))
    );
    --shadow-color: light-dark(
        oklch(25% 0.1 var(--base-hue) / 0.25),
        oklch(10% 0.1 var(--base-hue) / 0.5)
    );
    --drop-shadow: drop-shadow(8px 16px 16px var(--shadow-color));
    --drop-shadow-double:
        drop-shadow(8px 16px 16px var(--shadow-color))
        drop-shadow(8px 16px 16px var(--shadow-color));
    --drop-shadow-subtle: drop-shadow(4px 8px 8px var(--shadow-color));
}
