:root {
    --base-hue: 0;
    --line-size: 1rem;
    --square-size: min(12rem, 33dvw, 33dvh);
    --primary: light-dark(
        oklch(30% 0.15 var(--base-hue)),
        oklch(80% 0.15 var(--base-hue))
    );
    --on-primary: light-dark(
        white,
        oklch(20% 0.15 var(--base-hue))
    );
    --primary-container: light-dark(
        oklch(90% 0.15 calc(var(--base-hue) + 20)),
        oklch(20% 0.15 calc(var(--base-hue) - 20))
    );
    --on-primary-container: light-dark(
        oklch(10% 0.15 calc(var(--base-hue) + 20)),
        oklch(80% 0.15 calc(var(--base-hue) - 20))
    );
    --secondary: light-dark(
        oklch(40% 0.1 var(--base-hue)),
        oklch(70% 0.1 var(--base-hue))
    );
    --on-secondary: light-dark(
        white,
        oklch(20% 0.1 var(--base-hue))
    );
    --secondary-container: light-dark(
        oklch(90% 0.05 var(--base-hue)),
        oklch(40% 0.05 var(--base-hue))
    );
    --on-secondary-container: light-dark(
        oklch(20% 0.1 var(--base-hue)),
        oklch(90% 0.1 var(--base-hue))
    );
}
